{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
  <div class="container py-5">
    <div class="row">
      <div class="col-sm-4">
        <img src="/media/core/IMG_2691_cropped.jpg" class="img-fluid">
      </div>
      <div class="col-sm-8">
        <h1>Привет, я автор</h1>
        <p>
          Меня зовут Константин. Я начинающий Python - Разработчик.
          На текущий момент работаю инженером внедрения.
        </p>
        <a href="https://github.com/eraline"> Ссылка на мой github</a>
      </div>
    </div>
  </div>
{% endblock %} 